<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new item</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="task">
                    <input type="text" name="due_date">
                    <input type="checkbox" name="is_completed">
                    <select name="list"></select>
                </form>
            </div>
        </main>
    </body>
</html>
